
<h2>(i)検索</h2>
 <div id="form5">
  <%= form_tag('/memos/search', method: :get) do %>
  <input id="sbox5" name="keyword" type="text" placeholder="名前 or 苗字　カタカナ" />
  <input id="sbtn5" type="submit" value="検索" />
  <% end %>
 </div>
<h2>(ii)新規入力</h2>
 <%= link_to '新規入力はクリック', "/memos/new", method: :get %>

<h2>検索結果</h2>
<% @memos.each do |memo| %>
 <%= link_to memo_path(memo), method: :get do %>
  <%= memo.name %>
 <% end %>
<% end %>
